* text=auto

*.cs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.shader text eol=lf
*.txt text eol=lf
*.unity text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.anim merge=unityyamlmerge eol=lf whitespace=-trailing-space
*.asset merge=unityyamlmerge eol=lf whitespace=-trailing-space
*.controller merge=unityyamlmerge eol=lf whitespace=-trailing-space
*.mat merge=unityyamlmerge eol=lf whitespace=-trailing-space
*.meta merge=unityyamlmerge eol=lf whitespace=-trailing-space
*.prefab merge=unityyamlmerge eol=lf whitespace=-trailing-space
*.unity merge=unityyamlmerge eol=lf whitespace=-trailing-space

*.aiff binary
*.fbx filter=lfs diff=lfs merge=lfs -text
*.gif binary
*.jpeg binary
*.jpg binary
*.mp3 binary
*.ogg binary
*.png filter=lfs diff=lfs merge=lfs -text
*.psd binary
*.tga binary
*.wav binary
